{% extends 'profile/base' %}

{% block body %}
{% for post in posts %}
    <article>
        <h1>{{ post.title }}</h1>
        <div>
            {{ post.body }}
        </div>
    </article>
{% endfor %}
{% endblock body %}