{% extends 'profile/base' %}

{% block body %}
<form class="editor-form" action="/profile/write" method="post">
    
    <div class="editor-menu">
        <input type="text" name="title" tabindex="4"/>
        <button type="submit" tabindex="6">Post</button>
    </div>

    <textarea class="editor-field" name="body" tabindex="5"></textarea>
</form>
{% endblock body %}