@import '../base';

.submission {
    border: 1px solid gray;
    width: 50%;
    margin:20px auto 20px auto;
    padding:10px;

    .breadcrumb__current {
        color: $layer1-darker;
    }

    .submission__author {
        margin:0;
    }

    .submission__body {
        padding:10px;
    }
    
    .submission__created {
        color:$layer2-darker;
    }

    /* css class for the write-comment form */
    .submission__write {
        
        .write__field {
            min-height:25px;
            resize: vertical;
        }

        .write__button {
            align-self: flex-end;
        }

    } 

    .comment {
        padding:5px;
        margin: 5px 0 5px 0;
        border:1px solid $layer2-darker;
        .comment__author {
            font-size: 0.8em;
        }

        .comment__body {
            border-top:1px solid $layer2-dark;
            border-bottom:1px solid $layer2-dark;
            padding: 10px;
        }

        .comment__menu {
            font-size: 0.8em;
            justify-content: flex-end;
            flex-wrap: wrap;
        }
    }
}