<html>
    <head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <div class="content">
            <nav class="main-menu" type="toolbar" label="Main Menu">
                <span class="main-menu-title">BowTie</span>
                <a href="/login" class="main-menu-item">Login</a>
                <a href="#" class="main-menu-item">Search</a>
            </nav>
            <div class="about">
                <div class="about-info">
                    info
                </div>
                <div class="about-events">
                    events
                </div>
            </div>
        </div>
        <script src="/js/index.js"></script>
    </body>
</html>
