<html>
    <head>
        <title>Profile: {{user.username}}</title>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" type="text/css" href="/css/profile.css">
    </head>
    <body>
        <div class="content">
            <nav class="main-menu" type="toolbar" label="Main Menu">
                <span class="main-menu-title">BowTie</span>
                <a href="/login" class="main-menu-item">Login</a>
                <a href="#" class="main-menu-item">Search</a>
            </nav>
            <div class="about">
                PROFILE
            </div>
        </div>
        <script src="/js/profile.js"></script>
    </body>
</html>
