{% extends 'base.html' %}

{% import "macros.html" as macros %}

{% block content %}
{% if post %}
{% set url = route | urlencode %}
<div class="post">
    <article>
        <h2 class="post__title">
            {{post.title}}
        </h2>
        <div class="post__body">
            {{post.body | safe}}
        </div>
        <div class="post__created">
            {{ post.created | date(format="%d/%m/%g %l:%M %P") }}
        </div>
    </article>
    <div class="comments col">
        <form class="comment__write col" action="/api/v1/comment/create?redirect={{url}}" method="post">
            <input type="hidden" name="post" value="{{post.id}}"/>
            <textarea class="write__field" name="body" placeholder="Leave a comment" required></textarea>
            <button class="write__button clickable">Submit</button>
        </form>
        <div class="col">
            {{ macros::display_comments(comments=comments,id=session.view,url=url,post=post.id) }}
        </div>
    </div>
</div>
{% else %}
<div class="missing_post">
    Post does not exist. It may have been deleted by the author.
</div>
{% endif %}
{% endblock content %}