{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block content %}

{% if submission %}

    {% set url  = route | urlencode %}
    {% set view = submission.0 %}
    {% set post = submission.1 %}

    <div class="submission">
        <article>
            <h2 class="submission__title">
                {{post.title}}
            </h2>
            <div class="submission__body">
                {{post.body | safe}}
            </div>
            <div class="submission__created">
                {{ post.created | date(format="%d/%m/%g %l:%M %P") }}
            </div>
        </article>

        <form class="submission__write col" action="/api/v1/comment/create?redirect={{ url | urlencode }}" method="post">
            <input type="hidden" name="post" value="{{post.id}}"/>
            <textarea class="write__field" name="body" placeholder="Leave a comment" required></textarea>
            <button class="write__button clickable">Submit</button>
        </form>

        <div class="col">
            {% if comments %}
                {% for pair in comments %}
                    {{ macros::comment(
                        route   = url,
                        author  = pair.0,
                        comment = pair.1,
                        session = session
                    ) }}
                {% endfor %}
            {% else %}
                No comments yet
            {% endif %}
        </div>
    </div>
{% else %}
    <div class="missing_submission">
        Post does not exist. It may have been deleted by the author.
    </div>
{% endif %}
{% endblock content %}