{% extends 'base.html' %}

{% block content %}

{% set people_checked = '' %}
{% set posts_checked = '' %}
{% set groups_checked = '' %}

{% if search.query.targets is containing('People') %}{% set people_checked = 'checked' %}{% endif %}
{% if search.query.targets is containing('Posts') %}{% set posts_checked = 'checked' %}{% endif %}
{% if search.query.targets is containing('Groups') %}{% set groups_checked = 'checked' %}{% endif %}

<form class="col p5 w40 l r" action="/search" method="get">
    <div class="row">
        <input id="people" class="toggle-state h" type="checkbox" name="people" {{people_checked}}/> 
        <label class="toggle p5" for="people">People</label>
        <input id="posts"  class="toggle-state h" type="checkbox" name="posts"  {{posts_checked}} /> 
        <label class="toggle p5" for="posts">Posts</label>
    </div>
    <div class="row">
        <input class="txt-med x1" name="value" type="text" placeholder="Search" value="{{search.query.value}}"/>
        <button class="btn-med l10 t b" type="submit">Submit</button>  
    </div> 
</form>
<div class="col l r w50">
    {% if people_checked %}
    <h2>People</h2>
    <div class="col">
        {% for view in search.views %}
            <div class="card row p10 m5">
                <a href="/user/{{view.name}}" class="name-sm l10">{{view.name}}</a>
            </div>
        {% endfor %}
        <div class="row">
            <a href="#" class="r l5">< prev</a>
            <a href="#" class="l r5">next ></a>
        </div>
    </div>
    {% endif %}
    {% if posts_checked %}
    <h2>Posts</h2>
    <div class="col">
        {% for post in search.posts %}
            <div class="card col p10 m5">
                <a href="/post/{{post.id}}">{{post.title}}</a>
                <span class="f1">{{ post.created | date(format="%d/%m/%g %l:%M %P") }}</span> 
            </div>
        {% endfor %}
        <div class="row">
            <a href="#" class="r l5">< prev</a>
            <a href="#" class="l r5">next ></a>
        </div>
    </div>
    {% endif %}
    {% if not posts_checked and not people_checked %}
    <div class="l r p10 f3">Try selecting one or more catagories!</div>
    {% endif %}
</div>

{% endblock content %}