* {
    text-decoration: none;
}

.col,
.row {
    display:flex;
    justify-content: stretch;
    align-items: stretch;
    padding:0;
    margin:0;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.x1 { flex-grow:1; }
.x2 { flex-grow:2; }
.x3 { flex-grow:3; }
.x4 { flex-grow:4; }
.x5 { flex-grow:5; }

.l  { margin-left:  auto; }
.r  { margin-right: auto; }

.l5 { margin-left:  5px; }
.l10{ margin-left:  10px; }

.r5 { margin-right: 5px; }
.r10{ margin-right: 10px; }

.p5 { padding: 5px; }
.p10{ padding: 10px; }

.f3 { font-size:1.1em; }
.f2 { font-size:1.0em; }
.f1 { font-size:0.8em; }

body {
    margin:0;
    padding: 0;
}

button {
    cursor:pointer;
    border:none;
}

.page {
    min-height:100vh;
    max-width: 80vw;
}

.page__header,
.page__content,
.page__footer {
    font-size:1em;
    padding:10px;
}

.form__input--white,
.form__input--blue {
    padding:5px;
    border-radius: 3px;
}

.form__button {
    height:30px;
    width:60px;
    padding-bottom: 2px;
    cursor:pointer;
}
