
body {
    margin:0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
    min-height:100vh;
    max-width: 80vw;
    
    margin-left:auto;
    margin-right:auto;
}

.page__header,
.page__content,
.page__footer {
    font-size:1.2em;
    padding:10px;
    display:flex;
}

.page__header {
    line-height:35px;
    height:40px;
}

.page__header__title {
    text-decoration: none;
}

.page__header__search {
    margin-left: auto;
}

.page__header__menu {
    margin-left:10px;
    display:flex;
    align-items: stretch;
    justify-content: stretch;
}

.menu__item {
    text-decoration: none;
    padding:0 10px 0 10px;
}

.page__content {
    flex-direction: column;
    flex-grow:1;
}

.page__footer {
    font-size: 0.8em;
}

.page__footer__column {
    display:flex;
    flex-direction: column;
    margin-right:5px;
}

.form__input--white,
.form__input--blue {
    padding:5px;
    border-radius: 3px;
}

.form__button {
    height:30px;
    width:60px;
    padding-bottom: 2px;
    cursor:pointer;
}

.user__menu {
    font-size: 0.75em;
}