
.content {
    height: 60vh;
}

.login-form {
    padding:10px;
    display:flex;
    flex-direction: column;

    align-items: stretch;
    justify-items: stretch;

    width: 200px;
    margin-left: auto;
    margin-right: auto;

    box-shadow: 5px 5px 20px black;
}

.login-form > * {
    margin-bottom: 10px;
}

.login-form > button {
    width:60px;
    margin-left:auto;
}

.login-form > input {
    background-color: rgba(0, 0, 0, 0.35);
}

.login-form > input:focus {
    background-color:#121212;
}