{% extends 'base' %}

{% block content %}
<div class="col m10 l r">
    <h1>Page Not Found</h1>
    <p>
        Oops! Looks like we couldn't find that page.<br/>
        Hit the back button or use the menu to try<br/>
        something else.
    </p>
</div>
{% endblock content %}