* {
    font-family: -apple-system, 
                  BlinkMacSystemFont, 
                  "Segoe UI", 
                  Roboto, 
                  Oxygen-Sans, 
                  Ubuntu, 
                  Cantarell, 
                  "Helvetica Neue", 
                  sans-serif;
    color:inherit;          // default to inheriting colors
    text-decoration: none;  // default to no decoration
}

body {
    margin:0;
    padding: 0;
}

.page {
    min-height:100vh;
    max-width: 80vw;
}

/* ---------------------------------------------- 
   COLORS 

    Colors range from layer0 (farthest 'back')
    to layer2 (furthest 'forward'). 
*/
$layer0-background: #3B8BEB;
$layer0-text:       white;

$layer1-background: #1C5EAD;
$layer1-light:      rgba(255,255,255,0.25);
$layer1-lighter:    rgba(255,255,255,0.4);
$layer1-dark:       rgba(0,0,0,0.25);
$layer1-darker:     rgba(0,0,0,0.4);
$layer1-text:       white;
$layer1-text-faded: rgba(255,255,255,0.5);

$layer2-background: white;
$layer2-dark:       rgba(0,0,0,0.125);
$layer2-darker:     rgba(0,0,0,0.25);
$layer2-text:       black;

$status-on:         #09af00;
$status-off:        lightgray;

body { 
    background-color: $layer0-background;
    color:            $layer0-text; 
}

.page__header {
    background-color: $layer1-background;
    color:            $layer1-text;
    .clickable:hover {
        background-color: $layer1-light;
    }
    .typeable {
        background-color: $layer1-dark;
        color: $layer1-text-faded;
        &:focus {
            background-color: $layer1-darker;
            color: $layer1-text;
        }
    }

    .dropdown__trigger:checked + .dropdown {
        background-color: $layer2-background;
        color:$layer2-text;
        border-left:1px solid $layer2-darker;
    }
}

.page__content { 
    background-color: $layer2-background;
    color:            $layer2-text;
    .clickable:hover {
        background-color: $layer2-dark;
    }
}

.page__footer  { 
    background-color: $layer0-background;
    color:            $layer0-text; 
    .clickable:hover {
        text-decoration: underline;
    }
}

/* ---------------------------------------------- 
   CONTROLS 
   
   These are common types of elements used through-
   out the site.
*/
.clickable {
    cursor:pointer;
    border:none;
    padding:3px 5px 3px 5px;
}

.typeable {
    border:none;
    padding: 5px;
}

.status {
    border-radius:100px;
    width:10px;
    height:10px;
}

.status__on { background-color:$status-on; }
.status__off { background-color:$status-off; }

.dropdown__trigger {
    display: none;
    + .dropdown {
        user-select: none;
        .dropdown__container {
            position:absolute;
            flex-direction:column;
            display: none;
            margin:3px 0 0 -6px;
            padding:5px;
            box-shadow:5px 5px 5px rgba(0,0,0,0.1);

            border:1px solid $layer2-darker;
            border-top: none;
            background-color:$layer2-background;
            color:$layer2-text;
        }

        .dropdown__item {
            padding:5px;
            display:flex;
            align-items:baseline;

            &:hover {
                background-color: $layer2-dark;
            }
        }

        .status {
            align-self:center;
            margin-right:5px;
        }
    
        .dropdown__option {
            border:none;
            background-color:transparent;
            cursor:pointer;
            flex-grow:1;
            text-align:left;    
        }
    
        .dropdown__page {
            color:$layer1-darker;
            align-self:end;
            font-size: 0.8em; 
            &:hover { 
                text-decoration:underline;
            }
        }
    
    }
    &:checked + .dropdown {
        .dropdown__container {
            display:flex;
        }
    }
}

/* ---------------------------------------------- 
   STRUCTURE 
   
   These are utility classes that set some attribute
   or combination of attributes for an element.
*/
.col,
.row,
.grid {
    display:flex;
    justify-content: stretch;
    align-items: stretch;
    padding:0;
    margin:0;
}

.col  { flex-direction: column; }
.row  { flex-direction: row; }

.x1 { flex-grow:1; }
.x2 { flex-grow:2; }
.x3 { flex-grow:3; }
.x4 { flex-grow:4; }
.x5 { flex-grow:5; }

.p5 { padding: 5px; }
.p10{ padding: 10px; }

.m0 { margin: 0; }
.m5 { margin: 5px; }
.m10{ margin: 10px; }

.h  { display:none; }
.l  { margin-left:   auto; }
.r  { margin-right:  auto; }
.t  { margin-top:    auto; }
.b  { margin-bottom: auto; }

.l5 { margin-left:  5px; }
.l10{ margin-left:  10px; }

.r5 { margin-right: 5px; }
.r10{ margin-right: 10px; }

.f3 { font-size:1.1em; }
.f2 { font-size:1.0em; }
.f1 { font-size:0.8em; }

.w10{ width:10%; }
.w20{ width:20%; }
.w30{ width:30%; }
.w40{ width:40%; }
.w50{ width:50%; }

.bl { align-items: baseline; }
