
/* BASE PAGE THEME */
* {
    font-family: -apple-system, 
                  BlinkMacSystemFont, 
                  "Segoe UI", 
                  Roboto, 
                  Oxygen-Sans, 
                  Ubuntu, 
                  Cantarell, 
                  "Helvetica Neue", 
                  sans-serif;
    color:inherit;
}

/* 
#B23850 -> red
#3B8BEB -> blue
#E7E3D4 -> tan
#C4DBF6 -> green
#8590AA -> gray 
#000000 -> black
*/

body {
    background-color: #3B8BEB;
}

.page {

}

.page__header {
    background-color: rgb(50, 100, 200);
    color:rgb(255, 255, 255);
}

.profile__menu > a:hover { background-color: rgb(230, 230, 230); }
.page__content { background-color: rgb(255, 255, 255); }

.page__footer  a:hover { text-decoration: underline; }
.page__footer  { color:rgb(255, 255, 255); }

.btn-med {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgba(0,0,0,0);
}

.btn-med:hover {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.125);
}

.txt-med {
    background-color: rgba(0,0,0,0.015);
    border: 1px solid rgba(0,0,0,0.125);
}

.txt-med:focus {
    background-color: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.25);
}

.card {
    border:1px solid rgba(0,0,0,0.5);
}

.toggle { cursor:pointer; }
.toggle-state:checked + .toggle {
    background-color: rgba(0,0,0,0.25);
}
