
.page__content {
    justify-content: center;
    align-items: center;
}

.form--register {
    padding:10px;
    display:flex;
    flex-direction: column;

    align-items: stretch;
    justify-items: stretch;

    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.form__button {
    margin-left: auto;
}

.form--register > * {
    margin-bottom: 10px;
}

.form--register__footer * {
    font-size: 0.75em;
}