<!doctype html>
<html lang="en">
    <head>
        <meta name="author"      content="Michael House"/>
        <meta name="description" content="A social media site with a focus on speed and simplicity"/>
        <meta name="keywords"    content="social, media, bowtie"/>
        <title>Bowtie</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        <link rel="stylesheet" href="/css/themes/bowtie-light.css"/>
        <link rel="stylesheet" href="/css/base.css"/>

        {# don't request a favicon #}
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">

        {% block stylesheet %}
        {% endblock stylesheet %}
    </head>
    <body>
        <div class="page">
            <div class="page__header">
                <a class="page__header__title" href="/">Bowtie</a>
                <div class="page__header__search">
                    <form class="form" action="/search" method="get">
                        <input class="form__input--blue" name="value" placeholder="Search" type="text" tabindex="1"/>
                    </form>
                </div>
                <nav class="page__header__menu">
                        {% if user %}
                        <a href="/logout"   class="menu__item" title="Log out" tabindex="2">Logout</a>
                        <a href="/profile"  class="menu__item" title="Profile page" tabindex="3">Profile</a>
                        
                        {% else %}
                        <a href="/login"    class="menu__item" title="Login page" tabindex="2">Login</a>
                        <a href="/register" class="menu__item" title="Registration page" tabindex="3">Register</a>
                        {% endif %}
                </nav>
            </div>
            <div class="page__content">
                {% block content %}
                {% endblock content %}
            </div>
            <nav class="page__footer">
                <div class="page__footer__column">
                    <a href="/about" title="About page">About</a>
                    <a href="/search" title="Search page">Search</a>                
                </div>
                <div class="page__footer__column">
                    {% if user %}
                    <a href="/logout" title="Logout">Logout</a>
                    <a href="/profile" title="Profile page">Profile</a>
                    {% else %}
                    <a href="/login" title="Login page">Login</a>
                    <a href="/register" title="Registration page">Register</a>
                    {% endif %}
                </div>
                <div class="page__footer__column">
                    &copy; {{ datetime }} Michael House 
                </div>
            </nav>
        </div>

        {% block script %}
        {% endblock script %}
    </body>
</html>