<html>
    <head>
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" type="text/css" href="/css/common.css">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
    </head>
    <body>
        <div class="content">
            <nav class="main-menu" type="toolbar" label="Main Menu">
                <span class="main-menu-title">BowTie</span>
                <a href="#" class="main-menu-item">Login</a>
                <a href="/login" class="main-menu-item">Search</a>
            </nav>
            <div class="auth-wrapper">
                <div class="auth-panel">
                    <table>
                        <tr class="auth-tabs">
                            <td><h1 id="login-tab-label" class="auth-tab-label auth-tab-active">Login</h1></td>
                            <td><h1 id="register-tab-label" class="auth-tab-label">Register</h1></td>
                        </tr>
                        <tr id="auth-login-tab">
                            <td colspan="2">
                                <form class="auth-form" action="login" method="post">
                                    <table>
                                        <tr><td colspan="2">
                                                <p>
                                                    Log in to your account. Remember to keep your password safe and change it
                                                    every once in a while.
                                                </p>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="username">Username:</label></td>
                                            <td><input class="auth-input" type="text" placeholder="joey_mcslowy" name="username" required autofocus></td>
                                        </tr>
                                        <tr>
                                            <td><label for="password">Password:</label></td>
                                            <td><input class="auth-input" type="password" placeholder="***********" name="password" required></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><button type="submit" name="submit" value="">Login</button></td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                        <tr id="auth-register-tab">
                            <td colspan="2">
                                <form class="auth-form" action="register" method="post">
                                    <table>
                                        <tr><td colspan="2">
                                                <p>
                                                    Register a new account. Give us a username and password (twice), and if the username
                                                    isn't taken already, we'll set it up for you. :)
                                                </p>
                                                <br/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><label for="username">Username:</label></td>
                                            <td><input class="auth-input" type="text" placeholder="joey_mcslowy" name="username" required autofocus></td>
                                        </tr>
                                        <tr>
                                            <td><label for="password1">Password:</label></td>
                                            <td><input class="auth-input" type="password" placeholder="***********" name="password1" required></td>
                                        </tr>
                                        <tr>
                                            <td><label for="password2">Re-enter Password:</label></td>
                                            <td><input class="auth-input" type="password" placeholder="***********" name="password2" required></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><button type="submit" name="submit" value="">Register</button></td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
        <script src="/js/login.js"></script>
    </body>
</html>
