{% extends 'profile' %}

{% block body %}
<form class="editor-form" action="/profile/post" method="post">
    
    <div class="editor-menu">
        <button type="submit">Post</button>
    </div>

    <textarea class="editor-field"></textarea>
</form>
{% endblock body %}