<!doctype html>
<html lang="en">
    <head>
        <meta name="author"      content="Michael House"/>
        <meta name="description" content="A social media site with a focus on speed and simplicity"/>
        <meta name="keywords"    content="social, media, bowtie"/>
        <title>Bowtie</title>

        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        
        {# don't request a favicon #}
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        
        <style>{{ styles | safe }}</style>
    </head>
    <body>
        <div class="page l r col">
            <nav class="page__header f2 p10 row">
                <a href="/"><b>Bowtie</b></a> 
                {% if session %}
                :<a href="/profile" class="l10">{{session.username}}</a>
                {% endif %}
                <div class="l"></div>
                {% if session %}
                <input id="view__toggle" class="dropdown__trigger" type="checkbox">
                <label for="view__toggle" class="clickable dropdown">Views            
                    <div class="dropdown__container">
                        {% for view in session.views %}
                            {% if view.0 == session.view %}
                            <form class="dropdown__item">
                                <div class="status status__on">&nbsp;</div>
                                <button class="dropdown__option">{{view.1}}</button>
                            </form>
                            {% else %}
                            <form class="dropdown__item" action="/views/update?redirect={{route | urlencode}}" method="post">
                                <div class="status status__off">&nbsp;</div>
                                <input type="hidden" name="value" value="{{view.0}}"/>
                                <button class="dropdown__option">{{view.1}}</button>
                            </form>
                            {% endif %}
                        {% endfor %}
                        <a class="dropdown__page" href="/profile/settings">settings</a>
                    </div>
                </label>
                {% endif %}

                <form class="l10" action="/search" method="get">
                    <input type="hidden" name="posts" value="on"/>
                    <input type="hidden" name="people" value="on"/>
                    <input class="typeable" name="value" placeholder="Search" type="text" tabindex="1"/>
                </form>
                {% if session %}

                <a href="/logout"   class="clickable l10" title="Log out" tabindex="2">Logout</a>
                <a href="/profile"  class="clickable l10" title="Profile page" tabindex="3">Profile</a>
                
                {% else %}
                <a href="/login"    class="clickable l10" title="Login page" tabindex="2">Login</a>
                <a href="/register" class="clickable l10" title="Registration page" tabindex="3">Sign up</a>
                {% endif %}
            </nav>
            <div class="page__content col x1">
                {% block content %}
                {% endblock content %}
            </div>
            <nav class="page__footer row p10">
                <div class="f1 r5 col">
                    <a class="clickable" href="/about" title="About page">About</a>
                    <a class="clickable" href="/search" title="Search page">Search</a>                
                </div>
                <div class="f1 r5 col">
                    {% if session %}
                    <a class="clickable" href="/logout" title="Logout">Logout</a>
                    <a class="clickable" href="/profile" title="Profile page">Profile</a>
                    {% else %}
                    <a class="clickable" href="/login" title="Login page">Login</a>
                    <a class="clickable" href="/register" title="Registration page">Sign up</a>
                    {% endif %}
                </div>
                <div class="f1 r5 col">
                    &copy; {{ datetime }} Michael House 
                </div>
            </nav>
        </div>

        <script>{{ scripts | safe }}</script>
    </body>
</html>