{% extends 'base.html' %}

{% block content %}
<form class="l r col" action="/api/v1/login?redirect=/profile" method="post">
    <h1 class="p5">Login</h1>
    {% if flash %}
    <p class="flash">{{ flash }}</p>
    {% endif %}
    <br/>
    <input class="txt-med m5" name="username" type="text" placeholder="Username" tabindex="4" required/>
    <input class="txt-med m5" name="password" type="password" placeholder="********" tabindex="5" required/>
    <button class="l m5 btn-med" type="submit" tabindex="6">Login</button>

    <p class="f1">
        <a href="/recover" tabindex="7">Forgot password/username</a><br/>
        <a href="/register" tabindex="8">Register</a>
    </p>
</form>
{% endblock content %}