{% extends 'profile/base.html' %}
{% import "macros.html" as macros %}

{% block body %}
<div class="row x1">

    <div class="col x1 w50">
    {% if posts %}
        {% for post in posts %}
            <article class="card col p10 m5">
                <a href="/post/{{post.id}}" class="post__title m5 p5">
                    {{ post.title }}
                </a>
                <div class="m5 p10">
                    {{ post.body|safe }}
                </div>
                <nav class="row m5 p5 f1">
                    <span class="">{{ post.created | date(format="%d/%m/%g %l:%M %P") }}</span> 
                    {% if post.view_id == session.view %}
                    <form action="/posts/delete?redirect={{route | urlencode}}" method="post" class="l">
                        <input type="hidden" name="value" value="{{post.id}}"/>
                        <button class="clickable" type="submit">delete</button>
                    </form>
                    {% endif %}
                </nav>
            </article>
        {% endfor %}
    {% else %}
        <span class="p10 l r">Nothing here!</span>
    {% endif %}
    </div>

    {# FOR SUBSCRIBED - REVERSE CHRONO #}
    <div class="tabs x1 w50">
        <input id="tab__friends" type="radio" name="tab" checked>
        <input id="tab__followed" type="radio" name="tab">

        <label for="tab__friends" class="tab__label label__friends">Friends</label>
        <label for="tab__followed" class="tab__label label__followed">Followed</label>

        <div class="tab__content friends">
        {% for pair in friends %}
            {{pair.0.name}}: {{pair.1.title}}
        {% endfor %}
        </div>
        <div class="tab__content followed">
        {% for pair in followed %}
            {{pair.0.name}}: {{pair.1.title}}
        {% endfor %}
        </div>
    </div>
</div>
{% endblock body %}