{% extends 'profile/base.html' %}

{% block body %}
<div class="settings">
    <div class="section">
        <h1 class="section__title m5">Views</h1>
        {% for view in session.views %}
            <div class="p5 row bl">
                <div>{{ view.1 }}</div>
                <form action="/api/v1/views/delete?redirect=/profile/settings" 
                      method="post" 
                      class="l">
                    <input type="hidden" name="value" value="{{view.0}}"/>
                    <button class="clickable" type="submit">delete</button>
                </form>
            </div>
        {% endfor %}
        <form action="/api/v1/views/create?redirect=/profile/settings" 
              method="post" 
              class="view__input row">
            <input class="txt-med" placeholder="Display name" name="value" type="text"/>
            <button class="clickable l5" type="submit">Create</button> 
        </form>
    </div>
    <div class="section">
        <h1 class="section__title m5">Profile</h1>
        <p>Profile for the current view.</p>
        <h2>Description</h2>
        <p>
            Description
        </p>
        <form class="description__form">
            <input type="text" name="description" value=""/>
            <button type="submit">Update</button>
        </form>
    </div>
    <div class="section">
        <h1 class="section__title m5">Options</h1>
        <p>Options for the current view.</p>
        <form class="options__form">
            <label>Tab key inserts tab when typing: 
            <input type="checkbox" name="tabs" value=""/></label>
            <br/>
            <button type="submit">Update</button>
        </form>
    </div>
</div>
{% endblock body %}