{% extends 'profile/base.html' %}

{% block script %}
<script type="text/javascript" src="/js/editor.js"></script>
{% endblock script %}

{% block body %}
<form class="col x1" action="/api/v1/posts/create?redirect={{route | urlencode}}" method="post">
    <div class="row row-l">
        <button class="btn-med l r5" type="button" id="italic">I</button>
        <button class="btn-med r5" type="button" id="bold">B</button>
        <input  class="txt-med w30" type="text" name="title" placeholder="Title" tabindex="4" required/>
        <button class="btn-med l5 r10" type="submit" tabindex="6">Post</button>
    </div>
    <div class="col x1 p5 m5">
        <div id="editor" class="txt-med x1" contentEditable="true" tabindex="5"></div>
        <textarea id="field" class="x1" name="body" tabindex="5"></textarea>
    </div>
</form>
{% endblock body %}