
.search-bar {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.search-bar-advanced,
.search-bar-input {
    display: flex;
    width: 33vw;
}

.search-bar-advanced {
    flex-direction: column;
    align-items: center;
}

.search-bar-input > input {
    flex-grow: 1;
    margin-right: 10px;
}

.search-bar-input > button {
    border: none;
    cursor:pointer;
}

.hidden-toggle {
    display:none;
}

.title {
    user-select: none;
    cursor:pointer;
    padding: 10px;
    width:100%;
}

.advanced {
    display: flex;
    height:0px;
    overflow: hidden;
    width:100%;
    padding: 10px;
    margin-bottom:10px;
    border: 1px solid transparent;
    transition: all 0.1s ease-in;
}

.advanced-left,
.advanced-right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.advanced label {
    font-size: 0.75em;
}

.hidden-toggle:checked + .title + .advanced {
    height:240px;
    border: 1px solid rgba(255,255,255,0.25);
}

.search-results {
    flex-grow: 2;
    height:1000px;
    width:100%;
}